{% extends 'base.html' %}

{% block content %}
<h2>Lista de Reservas</h2>


<!-- Tabela de Reservas -->
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Hóspede</th>
            <th scope="col">Quarto</th>
            <th scope="col">Check-in</th>
            <th scope="col">Check-out</th>
        </tr>
    </thead>
    <tbody>
        {% for reserva in reservas %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ reserva.hospede.nome }}</td>
            <td>{{ reserva.quarto.numero }}</td>
            <td>{{ reserva.check_in }}</td>
            <td>{{ reserva.check_out }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5" class="text-center">Nenhuma reserva encontrada.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<!-- Botão para voltar para a home -->
<div class="text-center mt-4">
    <a href="{% url 'home' %}" class="btn btn-primary">Voltar para tela inicial</a>
</div>
{% endblock %}
