{% extends 'base.html' %}

{% block content %}
<h2>Lista de Hóspedes</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Cidade</th>
            <th scope="col">Telefone</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        {% for hospede in hospedes %}
        <tr>
            <td>{{ hospede.nome }}</td>
            <td>{{ hospede.cidade }}</td>
            <td>{{ hospede.telefone }}</td>
            <td>{{ hospede.email }}</td>
            
        </tr>
        {% empty %}
        <tr>
            <td colspan="4" class="text-center">Nenhum hóspede cadastrado.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<!-- Botão para voltar para a home -->
<div class="text-center mt-4">
    <a href="{% url 'home' %}" class="btn btn-primary">Voltar para tela inicial</a>
</div>
{% endblock %}
